.btn-treehouse{
  color: white;
  padding: 15px 25px;
  border-radius: 4px;
  font-weight: bold;
  background: #6AD58B;
  transition: background 0.3s ease;
  text-decoration: none;
  margin-bottom: 65px;
}
.btn-treehouse:hover{
  color: white;
  background: #3c753a;
  text-decoration: none;
}

.margin{
  margin-bottom: 65px;
}
